<!-- this is the homepage for tokidex -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Homepage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/homepage.css" />
    <script src="js/homepage.js"></script>
</head>

<h1 align = "center">REAPER ROUTE</h1>



<div>
    <form action="/maps" method="get">
        
        <p >This application provide ... (description)</p>
        <input type="submit" id="dest" name="dest" value="continue">
        
    </form>
    <br><br>
</div>


<body>





</body>
<style>