<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/maps.css" />
    <script src="js/maps.js"></script>
    <title>Directions Service</title>


    </head>
    <body>
      <div id="floating-panel">
      Start:
      <input id="start" type ="text" size ="20"/>
      <!-- <input id="start" >
        <input value="701 w georgia st, vancouver, bc">Pacific Center</input>
        <input value="1780 e broadway, vancouver, bc">Broadway Station</input>
      </select> -->

      Destination: 
      <input id="end" type ="text" size ="20"/>
      <!-- <input id="end">
        <input value="701 w georgia st, vancouver, bc">Pacific Center</input>
        <input value="1780 e broadway, vancouver, bc">Broadway Station</input>
      </select> -->
      </div>

      <div id="status">
        <!-- <img src="images/face.png" alt="Simply Easy Learning" width="20" height="20"> -->
        <input type="hidden" id="stat">Fatality:
        <br>
        <input type="hidden" id="stat">Accidents:

      </div>


      <div id="map"></div>


    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key= AIzaSyCspADbuXRHX2V-yaGlyKtStSdjoYwMsHI &callback=initMap">
    </script>
  </body>




</html>